html{
  scroll-behavior: smooth;
}
.bgimg{
  
  background-size:100% 100%;
  background-attachment: fixed;
  width:100%;
  height:100%;
}

header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  #HOME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:635px;
}


#PORTFOLIO{
  background-size:100% 100%;
  background-attachment: fixed;
  width:100%;
  height:635px;
}

#ABOUTME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:717px;
}

#CONTACTME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:635px;
}



    .full-footer{
        height: 24px;
    }

    .full-footer fa {
        padding: 20px;
        font-size: 10px;
        width: 40px;
        text-decoration: none;
        border-radius: 10%;
      }
      
     .full-footer fa:hover {
          opacity: 0.7;
      }
      
      .full-footer fa-facebook {
        background: #3B5998;
        color: white;

      }
      
      .full-footer fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .full-footer fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .full-footer fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      
      .full-footer fa-instagram {
        background: #125688;
        color: white;
      }


    /*////////////responsive //////////////*/

    @media(min-width:992px){
        #HOME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:635px;
}
      

    }

    @media(min-width:768px) and (max-width:991px){
      
        #HOME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:835px;
}

    }

    @media(min-width:575px) and (max-width:767px){
      
        #HOME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:100%;
}

    }

    @media(min-width:480px) and (max-width:574){
        #HOME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:100%;
}

      

    }

    @media(max-width:479px)
    {
    
      #HOME{
    
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
    height:100%;
}
}
